:host {
    
    .wrapper {
        
        background: #023B56;
        
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        padding: 20px;
        
        .left {
        
        
        }
        
        .right {
            
            color: #eee;
            
            font-size: 14px;
            
            &:first-line {
                
                font-size: 16px;
                
            }
            
        }
        
    }
    
}
