<div class="wrapper">
    <div class="box">
        <form [formGroup]="userEmail" (ngSubmit)="recoverPassword(userEmail.get('email').value)" *ngIf="!showNextStepsMessage">
            <h2>Please provide your email address</h2>
            <mat-form-field floatLabel="always">
                <input matInput placeholder="Email" type="email" formControlName="email" required>
            </mat-form-field>
            <button mat-raised-button color="primary" [disabled]="!userEmail.valid" *ngIf="userEmail.valid">
                Submit
            </button>
        </form>
        <p *ngIf="showNextStepsMessage">Please check your mail-box for next steps</p>
    </div>
</div>
