<div class="wrapper">

    <h1>

        Welcome to Edmonds Community College<br>
        Online Housing Application

    </h1>

    <h2 style="color: green">

        We are continually accepting applications for Fall, Winter, Spring and Summer Quarters.

    </h2>

    <hr>

    <!-- <div style="display: flex; margin: 30px;">

        <div style="display: flex; justify-content: center; align-items: center; color: blue; font-size: 26px; padding: 10px;">

            NEW!

        </div>

        <div style="display: flex; justify-content: center; align-items: center; color: blue; font-size: 18px; padding: 10px;">

            We now offer bus passes that you can use as soon as you arrive.<br>
            Check it out on the Payment Page.

        </div>

    </div> -->

    <div>

        <p style="color: red;">A few things you will need to have before you start the process:</p>

        <p>Make sure you have:</p>

        <ul>

            <li>Your Credit Card Information</li>
            <!-- <li>Valid Email Address</li>
            <li>Student ID Number (if you know it)</li> -->

            <li>Your Arrival Information (if you have it now)</li>

        </ul>

        <p>

            There are some questions that must be answered before you can continue.<br>
            They have a red asterisk (<span style="color: red;">*</span>) next to them.

        </p>

        <p>Please hit the NEXT SECTION and start applying.<br> Thanks.</p>

        <p style="color: red;">

            <span style="font-weight: bold; text-decoration: underline">RETURNING STUDENTS: </span>

            You do not need to fill out another application. Please email us at <a href="mailto:housing@edcc.edu">housing@edcc.edu</a>. Thank you!

        </p>

    </div>

    <app-apply-buttons forwardLink="/apply/personal-information" forwardEnabled=true></app-apply-buttons>

</div>

