<div class="progress-loader" style="height: 50%;
                    z-index: 100000000000000;
                    width: 100%;
                    opacity: 0.6;
                    position: fixed;" [hidden]="!displayLoadingSpinner">
    <mat-progress-spinner style="width: 100px;
                        height: 100px;
                        margin: auto;
                        position: fixed;
                        left: 54%;
                        top: 10%;
                        margin-top: 17%;
                        z-index: 10000000000;" [mode]="'indeterminate'" [strokeWidth]="2" [diameter]="175">
    </mat-progress-spinner>
</div>

<div class="wrapper">

    <div class="box">

        <div class="left">

            <h4>Welcome to Edmonds Community College Student Portal</h4>



            <h4>Don't have an account?</h4>

            <div class="center">

                <button mat-raised-button
                        routerLink="/register">

                    Register Now!

                </button>

            </div>

        </div>

        <div class="right">

            <h4>Login</h4>

            <form [formGroup]="formGroup">

                <mat-form-field floatLabel="always">

                    <input matInput
                           placeholder="Email Address"
                           required
                           formControlName="email">

                </mat-form-field>

                <mat-form-field floatLabel="always">

                    <input matInput
                           placeholder="Password"
                           required
                           type="password"
                           formControlName="password">

                </mat-form-field>

                <div class="buttons">

                    <button mat-raised-button
                            color="primary"
                            [disabled]="!formGroup.valid"
                            (click)="onLoginClick()">

                        Login

                    </button>

                </div>

            </form>

            <div class="forgot">

                <a routerLink="/login/password-recovery">Forgot your password?</a>

            </div>

        </div>

    </div>

</div>
