:host {
    
    .wrapper {
        
        display: flex;
        justify-content: center;
        margin: 20px;
        
        .box {
            .buttons {
                
                display: flex;
                justify-content: flex-end;
                
            }
            
        }
        
    }
    
}
